@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@700&display=swap");
.navBar {
    width: 1262px;
    margin: 0;
    height: 100px;
    background-color: #1f487e;
    display: flex;
    justify-content: space-between;
}
li {
    list-style-type: none;
    font-size: 26px;
    margin-right: 20px;
}
li:hover {
    color: white;
}
.logo {
    font-family: "Zilla Slab Highlight";
    font-size: 26px;
    margin-top: 30px;
    margin-left: 20px;
    color: whitesmoke;
}
.navBarLeft {
    display: flex;
    margin-top: 30px;
    margin-right: 40px;
}
.header-inp {
    width: 150px;
    height: 25px;
    border-radius: 25px;
    border: solid 0;
}
img {
    width: 1262px;
}
