@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Zilla+Slab+Highlight:wght@700&display=swap");
.title {
    font-size: 46px;
    font-family: "Bebas Neue", cursive;
    color: azure;
}
.title:hover {
    color: #419d78;
}
.description {
    color: azure;
    font-size: 26;
}
.description:hover {
    color: #419d78;
}
.main-div {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.inform-cart {
    width: 300px;
    margin: 0;
    flex-wrap: wrap;
    background-color: #1f487e;
    border-radius: 15px;
    margin-top: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn-delete {
    margin-top: 15px;
}
.btn-edit {
    margin-top: 15px;
    margin-right: 17px;
}
